$dark-bg: #0A0E14;
$dark-fg: #B3B1AD;
$dark-hl: #ff8f40;
$dark-ui: #4D5566;
$dark-border: #d5c4a1;
$dark-light: #f2e5bc;
$dark-link: #83a598;
$dark-shadow: #282828;

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  border: none;
  outline: none;
  box-sizing: border-box;
}

html, body {
    height: 100%;
}

// general
#app {
    height: auto;
    min-height: 100vh;
    overflow: visible;
    font-size: 1em;
}

#app .hidden {
    visibility: hidden;
}

#app button {
    margin: 4px;
    padding: 4px 8px;
    font-size: 1em;
    background-color: #dedede;
    border-radius: 3px;
    user-select: none;
}

#app button:hover {
    cursor: pointer;
    background-color: #cfcfcf;
}

#app input {
    font-size: 1em;
    padding: 2px 4px;
}

#app a:hover {
    text-decoration: underline;
}

#app .icon {
    font-size: 1.1em;
    padding: 2px 6px;
    font-weight: bold;
}

#app .bar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
  padding: 1em;
}

#app .bar > #toggle-edit {
    display: flex;
    flex-flow: row nowrap;
    margin: 4px;
    padding: 4px 12px;
    font-size: 1em;
    border-radius: 3px;
    user-select: none;
}

#app .bar > #toggle-edit > label > span {
    padding-right: 8px;
}

#app .bar > #toggle-edit > label:hover, .bar > #toggle-edit input:hover {
    cursor: pointer;
}

#app > header {
  height: 200px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

#app .greeting > p {
    margin-top: 8px;
    font-size: 1.1em;
}

#app .greeting .editable-name:hover {
    cursor: pointer;
} 

.cards {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
}

.cards > .card {
  padding: 1em;
  margin: 1em;
  min-width: 16em;
  border-radius: 8px;
}

.cards > .card > .card-name {
    margin-bottom: 1em;
}

.cards .card-link {
    display: flex;
    flex-flow: row nowrap;
    align-content: space-between;
    justify-content: space-between;
    margin-bottom: 4px;
}

.cards > .buttons {
  margin: 3em 1em;
}

.edit-screen {
    position:fixed;
    padding:0;
    margin:0;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    align-content: center;
    justify-content: center;

    top:0;
    left:0;

    width: 100%;
    height: 100%;
    background: rgba(16,16,16,0.5);
}

.edit-screen > .edit-form {
    min-width: 20em;
    padding: 1.5em;
    border-radius: 8px;
}

.edit-screen > .edit-form input {
    margin-left: 1em;
    margin-bottom: 8px;
}

// dark
#app.dark {
  background-color: $dark-bg;
  color: $dark-fg
}

#app.dark a {
    color: $dark-link;
}


#app.dark button, #app.dark #toggle-edit {
    color: $dark-bg;
    background-color: $dark-light;
}

#app.dark input {
    background-color: $dark-light;
    color: $dark-bg;
}

#app.dark .greeting .editable-name {
    color: $dark-light;
    text-decoration: dotted underline $dark-hl 3px;
} 

#app.dark .cards > .card {
  border: solid 2px $dark-border;
}

#app.dark .edit-screen > .edit-form {
    border: solid 2px $dark-border;
    box-shadow: 1px 1px 12px 4px $dark-shadow;
    background-color: $dark-bg;
}

// white
#app.white {
    color: #1f2430;
    background-color: #f3f4f5;
}

#app.white .greeting .editable-name {
    text-decoration: dotted underline #f1b359 2px;
} 

#app.white .cards > .card {
  border: solid 2px #1f2430;
  box-shadow: 1px 1px 8px 4px #a8a8a8;
}

#app.white .cards .card-link > a {
    color: #39bae6;
}

#app.white .edit-screen > .edit-form {
    background-color: #f0f1f2;
    border: solid 2px #f1b359;
    box-shadow: 1px 1px 16px 4px #111111;
}
